<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/commonhead") %>
</head>

<body>
  <%- include ("../partials/header") %>
  <%- include ("../../commonpartials/stbutton") %>
  <div class="body-container">
    <%- include ("../partials/sidebar") %>
    <div class="page-body">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h2 class="home-page-heading">Add Administrator Account</h2>
            <%- include ("../partials/messages") %>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <h4 class="form-heading">Enter New Admin Information:</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form action="/admin/admins/addadmin" method="POST">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group with-icon">
                    <label for="fname">First Name</label>
                    <input type="name" id="fname" name="fname" class="form-control" value="<%= typeof fname != 'undefined' ? fname : '' %>" />
                    <i class="fas fa-user input-icon"></i>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group with-icon">
                    <label for="fname">Last Name</label>
                    <input type="name" id="lname" name="lname" class="form-control" value="<%= typeof lname != 'undefined' ? lname : '' %>" />
                    <i class="fas fa-user input-icon"></i>
                  </div>
                </div>
              </div>
              <div class="form-group with-icon">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" value="<%= typeof email != 'undefined' ? email : '' %>" />
                <i class="fas fa-envelope input-icon"></i>
              </div>
              <div class="form-group with-icon">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" value="<%= typeof password != 'undefined' ? password : '' %>" />
                <i class="fas fa-lock input-icon"></i>
              </div>
              <div class="form-group with-icon">
                <label for="password2">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="form-control" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                <i class="fas fa-lock input-icon"></i>
              </div>
              <div class="form-group with-icon d-none">
                <input type="text" name="isadmin" class="form-control" value="true" />
                <i class="fas fa-lock input-icon"></i>
              </div>
              <button type="submit" class="btn rlbtn rlbtn-primary btn-block">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../partials/footer") %>
  <%- include ("../partials/commonscripts") %>

</body>

</html>